---
import '~/css/base.css'
import Navbar from "~/components/Navbar.astro";
import Footer from "~/components/Footer.astro";

const {
	block="stone",
	size=48,
	navHeight=2,
	noNav,
	noFooter=false
} = Astro.props

// Used to calculate the min height for main element
const min_navbar_height = 2
const min_footer_height = 3
---

<style is:global set:html={`
	:root {
		--block-size: ${size}px;
		--nav-height: var(--${navHeight}-block);
		--main-height: calc(100vh - (var(--block-size) * (${min_navbar_height} + ${min_footer_height})));
	}
`}></style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Minecraft Theme</title>
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/css/minecraft.css">
	</head>
	<body class="scrollbar">
		<slot name="first"/>
        {!noNav &&
			<Navbar height={navHeight}>
				<slot name="navbar"/>
			</Navbar>
		}
        <main class={`min-h-[var(--main-height)] w-full bg-block-${block}`}>
			<div class="min-h-[var(--main-height)] h-full w-full bg-dark-75">
				<slot />
			</div>
		</main>
		{!noFooter &&
			<Footer>
				<slot name="footer"/>
			</Footer>
		}
		<slot name="last"/>
	</body>
</html>
