---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

const {
	block="stone",
	size=48,
	nav=2,
	footer=true
} = Astro.props

//If you want to change the responsive height of footer:
//tweak the `[--footer-height:${x}]` classes inside of footer component

//Smallest height footer will have in # of blocks
const min_footer_height = 3
---

<style
	is:global 
	define:vars={{ 
		'block-size': `${size}px`,
		'nav-height': nav,
		'footer-height': footer,
		'main-height': `calc(100vh - (var(--block-size) * (var(--nav-height) + ${min_footer_height})))`
	}}
>
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/minecraft.css">
	</head>
	<body class="scrollbar">
        <Navbar height={nav}/>
        <main class={`min-h-[var(--main-height)] w-full bg-${block}`}>
			<div class="bg-dark-75">
				<slot />
			</div>
		</main>
		{footer && <Footer />}
	</body>
</html>
